.nav {
    background: #949CB34F;
    height: 50px;
    width: 100%;
    border-radius: 48px;
    margin-top: 32px;
    backdrop-filter: blur(11px)
}

.nav__elements {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 47px;
}

.nav__elements-item {
}

.active__link {
    color: #212A61;
    position: relative;
}

.nav__elements-img {
    color: #FBFBFB;
}

.active__link::before {
    content: '';
    background-color: #D9D9D9;
    position: absolute;
    top: -16px;
    left: -7px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    filter: blur(10.4px);
    z-index: -1;
}


@media screen and (max-height: 668px) {
    .nav {
        margin-top: 15px;
    }
}