.container {
    margin: 0 auto;
    width: 340px;
}

.main {
    background: linear-gradient(0deg, rgba(19, 19, 19, 0.39), rgba(19, 19, 19, 0.39)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    backdrop-filter: blur(11.4px);
    width: 100%;
    height: auto;
    border-radius: 18px;
}